@font-face {
  font-family: "CircularSp";
  src: url("/CircularSp900.woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "CircularSp";
  src: url("/CircularSp500.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "CircularSp";
  src: url("/CircularSpBold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "CircularSpTitle";
  src: url("/CircularSpTitle.woff2") format("woff2");

  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Circular Std";
  src: url("/CircularStd-Medium.woff2") format("woff2"),
    url("/CircularStd-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
